﻿<%@ Page Language="C#" EnableViewState ="true" AutoEventWireup="true"  CodeBehind="DefaultIsPostBackDynamic.aspx.cs" Inherits="Soln_IsPostBack_Dynamic.DefaultIsPostBackDynamic" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href ="Css/txt.css"  type="text/css" rel="stylesheet"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="txt1" runat="server"  style="text-align:center"  CssClass="txt"/>
        
        <asp:TextBox ID="txt2" runat="server"  style="text-align:center" CssClass="txt"/>
        
        <asp:TextBox ID="txt3" runat="server"  style="text-align:center"  CssClass="txt"/>
        
        <asp:TextBox ID="txt4" runat="server" style="text-align:center"  CssClass="txt"/>
        
        <asp:Button ID="btnsubmit" runat="server" Text="Submit" CssClass ="btn btn2 " OnClick="btnsubmit_Click" />
         
    </div>
    </form>
</body>
</html>
